.note-grid {
  position: relative;

  display: grid;
  grid-template-columns: [full-width-start] 1.875rem [nav-content-start] 9.375rem [nav-content-end] 1.875rem [content-start] 1fr [content-end] 1.875rem [full-width-end];

  height: calc(100vh - 4.375rem);
}

.note-grid > * {
  grid-column: nav-content-start / content-end;
}

.note-grid > .--nav {
  grid-column: full-width-start / content-start;
}

.note-grid > .--main-content {
  display: grid;
  grid-template-rows: 6.25rem 1fr;

  grid-column: content-start / full-width-end;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-color: var(--primary-color) var(--secondary-color);
  scrollbar-width: thin;
}

@media (width < 25rem) {
  .note-grid {
    grid-template-columns: [full-width-start] 0.625rem [nav-content-start] 0rem [nav-content-end] 0rem [content-start] 1fr [content-end] 0.625rem [full-width-end];
  }

  .note-grid > .--main-content {
    grid-column: full-width-start / full-width-end;
  }
  .--main-content > * {
    grid-column: nav-content-start / content-end;
  }
}
