.header {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;

  height: 70px;
  width: 100%;

  background-color: var(--secondary-color-transparent);
  box-shadow: 1px 10px 20px var(--primary-color-transparent);
  backdrop-filter: blur(3px);
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.auth-options-button {
  display: none;

  font-size: 18px;

  color: var(--primary-color);
}

.options {
  display: none;
  font-size: 18px;

  color: var(--primary-color);
}

.nav {
  display: flex;
  gap: 20px;
}

@media (width < 470px) {
  .header {
    flex-direction: row-reverse;
  }
  .nav {
    display: none;
  }
  .auth-options-button {
    display: flex;
    justify-self: end;
    background-color: aqua;
    border: 1px solid black;
  }
  .options {
    display: flex;
    width: fit-content;
  }
}
