.form-container {
  justify-self: center;

  padding-bottom: 50px;
  width: 300px;

  border-radius: 10px;
}

.container {
  width: 100%;
  height: calc(100vh - 70px);

  overflow: auto;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 500px;
  height: 500px;

  object-fit: fill;
}
.second {
  align-self: flex-end;
  left: calc(100% - 490px);
  top: -20px;
}

.first {
  top: calc(100% - 430px);
}

@media (width < 400px) {
  .form-container {
    margin-top: 20px;
    width: fit-content;
  }
  .wave {
    left: -100px;

    transform: scale(0.8);
  }

  .second {
    top: -50px;
    left: -1px;
  }
}
